<h2>My Books</h2>
<ul>
  {{#each books}}
    <li>
      <strong>{{this.title}}</strong> by {{this.author}}
      <p>{{this.synopsis}}</p>
    </li>
  {{/each}}
</ul>
<a href="/books/add">Add a new book</a>
