<header>
  <nav>
    <div class="logo">
      <a href="/"><img src="/images/logo.png" alt="Book Sharing Platform Logo"></a>
    </div>
    <div class="search-bar">
      <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search books...">
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="nav-menu">
      <div class="menu-icon">☰</div>
      <ul class="nav-links">
        <li><a href="/books">Home</a></li>
        <li><a href="">My Profile</a></li>
        <li><a href="#" id="logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>

