<div class="container mt-5">
  <h2 class="mb-4 text-dark">Create a Book Contribution.</h2>
  <form class="new-skin-post-form">
    <div class="mb-3">
      <label for="title-new-skin-post" class="form-label custom-text-color">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title-new-skin-post"
        placeholder="Enter the Book Title"
      />
    </div>
    <div class="mb-3">
      <label for="author-new-skin-post" class="form-label custom-text-color">Author:</label>
      <input
        type="text"
        class="form-control"
        id="author-new-skin-post"
        placeholder="Enter the Author"
      />
    </div>
    <div class="mb-3">
      <label for="synopsis-new-skin-post" class="form-label custom-text-color">Synopsis:</label>
      <textarea
        class="form-control"
        id="synopsis-new-skin-post"
        rows="5"
        placeholder="Enter Synopsis"
      ></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-secondary">Add Book</button>
    </div>
  </form>
</div>